body{
    background-image: url('../img/pattern.jpg');
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding-right: 15px;
}
a{
    text-decoration: none;
}
li:hover{
    color: grey;
}

section{
    margin-top: 70px;
    background-color: white;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    text-align: center;
}
article{
    border-bottom: 1px solid black;
}
a h3{
    margin-top: 50px;
}
p{
    text-align: justify;
}
footer{
    background-color: black;
    margin-top: 20px;
    padding: 1px;
}
h5{
    color: white;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    header{
        display: block;
    }
    section{
        margin:150px 50px 0 50px;
        /* margin-top: 50px; */
    }
  }