.atas{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bungkus-login{
    max-width: 800px;
    padding-top: 100px;
}
.bungkus-cpwd{
    max-width: 650px;
}
footer{
    background-color: black;
    height: 50px;
    text-align: center;
    color: white;
}
.panah{
    cursor: pointer;
}