* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.light{
    width: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.light .list{
    display: flex;
}

.list li {
    padding: 20px 0;
    list-style: none;
}

.light .list li .link-url{
    color: black;
    padding: 20px;
    text-decoration: none;
}

.light .list li .link-url:hover{
    color: white;
    background-color: teal;
}


.dark{
    width: 100%;
    background-color: teal;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark .list{
    display: flex;
}

.list li {
    padding: 20px 0;
    list-style: none;
}

.dark .list li .link-url{
    color: white;
    padding: 20px;
    text-decoration: none;
}

.dark .list li .link-url:hover{
    color: black;
    background-color: white;
}