.pembungkus{
    max-width: 380px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 0.5em #3b88fd;
}
.pembungkus-ceklist{
    margin-top: 15px;
}
.pembungkus-ceklist:hover{
    margin-left: 4px;
}
.tengah{
    text-align: center;
}
.judul{
    margin-bottom: -5px;
    font-size: xx-large;
    color: gray;
}
.sub-judul{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.95em;
}
.garis{
    height: 3px;
    opacity: 0.25;
    background-color: gray;
    margin-bottom: 10px;
}
.garis-bawah{
    opacity: 0.25;
    margin-top: 10px;
    background-color: gray;
}
.tombol{
    width: 100%;
    background-color: #24a0ed;
    padding: 15px;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1em;
}
.tombol:hover{
    background-color: #df4759;
}
.tombol:active{
    transform: scale(0.9);
}
.ceklist{
    margin-right: 10px;
    transform: scale(1.2);
}
.waktu{
    margin-top: 10px;
}
.pembungkus-waktu{
    min-width: 400px;  
    padding-top: 20px;
    margin:0px 35%;
}

.pembungkus-input{
    border: 1px solid #3b88fd;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.label-input{
    display: inline-block;
    width: 45%;
}
.tombol-submit{
    width: 100%;
}
.tombol-submit2{
    display: block;
    margin: 20px auto 0px auto;
}
.pembungkus-form{
    margin-bottom: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.tbl{
    width: 50px;
    margin: 0px 5px;
    
}

.tbl {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  outline: none;
  padding: 10px 5px;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tbl:hover,
.tbl:focus {
  background-color: #F082AC;
}
.wrn-tbl{
    background-color: #EA4C89;
}
.wrn-tbl1{
    background-color: #3dca60;
}
.main-bungkus{
    margin-bottom: 50px;
    padding: 20px;
}


.pembungkus-buah{
    margin: 30px 0;
}
